<launch>

  <arg name="load_world" default="false"/>
  <arg name="gazebo_gui" default="true"/>

  <!-- model setup -->
  <arg name="model" default="$(find open_critter)/urdf/critter.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 0.1 -unpause -urdf -model open_critter -param robot_description" respawn="false" output="screen" />

  <!-- simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find open_critter)/worlds/practice.world" if="$(arg load_world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="headless" value="false"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- state publishers -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- controllers -->
  <rosparam file="$(find open_critter)/config/control.yaml" command="load"/>
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" ns="open_critter" output="screen" args="spawn joint_state_controller front_left_coxa front_right_coxa rear_right_coxa rear_left_coxa front_left_femur front_right_femur rear_right_femur rear_left_femur front_left_tibia front_right_tibia rear_right_tibia rear_left_tibia"/>

  <!-- <node name="gait_controller" pkg="open_critter" type="gait_controller"/> -->

</launch>
